<div class="container">
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <br><br>
      <h3>Admin Dashboard</h3>
      <button class="btn btn-primary" (click)="addProduct()">Add Product</button>
      <br><br>
      <button class="btn btn-primary">View Reports</button>
      <br><br>
      <button class="btn btn-primary">Manage Account</button>
      <br><br>
      <button class="btn btn-primary">Inventory Management</button>
      <br><br>
      <button class="btn btn-primary">View Customised Orders</button>

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
