<div class="container">
  <div class="row">
    <!-- <div class="col-md-4">
        
    </div> -->
    <div class="col-md-4">
      <form [formGroup]="donationForm">

        <p>Choose Cause</p>
        <div *ngFor="let c of cause, let i=index" class="checkbox">
          <input type="checkbox" formControlName="cause" (change)="log(i)"> {{c.name}}
          <div class="card">
            <img src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiqlqjK_8TjAhV4_3MBHTl_B4gQjRx6BAgBEAU&url=https%3A%2F%2Fguidetoexam.com%2Fwomen-empowerment-in-india%2F&psig=AOvVaw3MZI7E3M5gRWp3JJ18P3W9&ust=1563763609041316" alt="Avatar" style="width:100%">
            <div class="container">
              <h4><b>John Doe</b></h4> 
              <p>Architect & Engineer</p> 
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="label" for="amount">Amount</label>
          <input class="form-control" type="text" formControlName="amount" placeholder="Enter Amount">
        </div>
        <button class="btn btn-secondary" (click)="donate()" id="submit_button">Proceed</button>
      </form>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>