<form [formGroup]="donationForm">
  <div class="form-group">

    <!-- <div class="form-control form_element">
      <label class="label" for="Cause">Cause</label>
      <br>
      <input class="input_field" type="text" formControlName="cause" placeholder="Enter Cause">
    </div> -->
    <br>
    <div class="form-control form_element">
      <label class="label" for="Cause">Cause</label>
      <div *ngFor="let c of cause, let i=index">
        <input class="input_field" type="checkbox" formControlName="cause" (change)="log(i)"> {{c.name}}

      </div>
    </div>

    <div class="form-control form_element" style="border: none">
      <label class="label" for="amount">Amount</label>
      <br>
      <input class="input_field" type="text" formControlName="amount" placeholder="Enter Amount">
    </div>
    <br>
  </div>
  <button class="btn btn-secondary" (click)="donate()" id="submit_button">Proceed</button>
  <br>

</form>
